/node_modules
/vendor
/public/build
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/views/*.php
/storage/framework/sessions/*
/storage/logs/*.log
/.vite
.env
.env.backup
.phpunit.result.cache

dist/
build/
node_modules/
vendor/

# Temporary files
/public/hot
/bootstrap/cache/*.php

app/Http/Controllers/Api/FilePreviewController.php